@import url("global/global.css");  

body {margin:0; background: #fff url(images/pagebg.gif) repeat-x left top; font:normal 13px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#003}
h1,h2,h3,h4 {margin: 0 0 0.5em; padding: 0;}
div {margin:0; padding:0}
p {margin:0 0 1em; padding:0}
.clear {clear: both; line-height: 0; font-size: 0; height: 0; visibility: hidden;}
img {border:none; outline:none}

h2 {font-size:24px; line-height:24px}
.module {background:#f4f7f2 url(images/navitembg.gif) repeat-x left bottom; margin:0 0 9px; padding:12px 15px}

#promobg {background:url(images/clouds.jpg) no-repeat center 18px; margin:0; padding:0; min-height:400px}
.inner {margin:0 auto; padding:0; width:924px; text-align:left;}

#sidecol {width:240px; margin:0 6px 0 0; padding:0 12px; float:left}
#maincol {width:630px; margin:0; padding:0 12px; float:left}

h1#logo {display:block; margin:0 -12px 6px; padding:0 0 12px; background:url(images/logo.png) no-repeat center top; height:142px}
h1#logo a {display:block; margin:0; padding:0; width:100%; height:100%}
h1#logo a span {display:none}
#sidebar {margin:0 -12px; padding:21px 21px 0; background:url(images/sidebar.png) no-repeat center top; min-height:500px}
#nav {display:block; list-style:none; margin:0 0 9px; padding:0}
#nav li {display:block; background:url(images/navitembg.gif) repeat-x left top; border-top:1px solid #ddc}
#nav li a {display:block; color:#666; font-size:18px; line-height:36px; text-decoration:none; margin:0; padding:0 12px}
#nav li a:hover {color:#C00}
#nav li.current-menu-item a {color:#006; font-weight:bold}

a#phone {float:right; margin:0 0 12px}
#promo {clear:both; margin:0 -12px 24px; padding:21px 21px; height:216px; background:url(images/promobg.png) no-repeat center top}
.content {padding:24px 0}

#footer {clear:both; background:#93d087 url(images/footerbg.gif) repeat-x left top; color:#fff; margin:0; padding:0; font-size:11px; line-height:14px; font-weight:bold}
#footer a {color:#fff; font-weight:bold}
#footer .inner {width:900px; padding:24px 12px}
#copyright {width:570px; margin:0 30px 0 0; float:left}
#pixelrabbit {width:300px; float:left; text-align:center}